* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --primary: #121212;
  --secondary: grey;
  --tertiary: white;
  --quaternary: azure;
  --quinary: black;
  --sextary: navajowhite;
  --septenary: #cd6ad3eb;
  --octonary: #235d01; 
  --novenary: #fbff59;
  --decenary: #4d514a;
  --eleventh: #373030;
  --twelfth: green;
  --thirteenth: #911b2f;
  --fourteenth: #000085;
  --fifteenth: #b38251;
  --sixteenth: #99fc9a;
  --seventeenth: #85fffe;
  --eighteenth: #88d2ed;
  --nineteenth: #ff9600cf;
  --twentieth: #5ab701cf;
  --twenty-first: #e9f31ccf;
  --twenty-second: gainsboro;
  --twenty-third: bisque;
  --twenty-fourth: #dfdbdb;
  --twenty-fifth: #e5e5e573;
  --twenty-sixth: lightpink;
  --twenty-seventh: rgba(128, 128, 128, 0.5);
  --twenty-eighth: rgba(0, 0, 0, 0.3);
}
p, a, font, h1, h2, h3, li, button, cite, input, label {
  font-size: 100%;
}
header, main {
  width: 98%;
  margin: 0.2em;
  padding: 0.4em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.envio {
  width: 100%;
  margin: 0.1em;
  padding: 0.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.1em solid var(--secondary);
  border-radius: 1em;
  background: url(./IMÁGENES/fondo.envio.png) center;
  background-size: cover;
  overflow: hidden;
}
p {
  width: 100%;
  margin: 0.1em;
  padding: 0.1em;
  font-size: 90%;
}
.conteuno {
  width: 100%;
  margin: 0.2em;
  padding: 0.4em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.logo {
  width: 100%;
  margin: 0.1em;
  padding: 0.1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.PQP {
  width: 90%;
  margin: 0.1em;
  padding: 0.1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contedos {
  width: 100%;
  margin: 0.1em;
  padding: 0.1em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.isesion {
  width: 100%;
  margin: 0.1em;
  padding: 0.1em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}
button.sesion {
  width: 100%;
  margin: 0.1em;
  padding: 0.1em;
  border: 0.1em solid var(--secondary);
  border-radius: 1em;
  font-size: 84%;
  background: url(./IMÁGENES/fondo.registro.png) center;
  background-size: cover;
  height: 100%;
}
.bcontenedor {
  width: 100%;
  margin: 0.1em;
  padding: 0.1em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
input {
  outline: none;
  box-sizing: border-box;
  height: 1.2em;
  width: 0;
  padding: 0 0.7em;
  color: var(--primary);
  border-radius: 1em;
  font-size: 1.2em;
  border: 0.1em solid var(--sixteenth);
  transition: all .7s ease;
  position: absolute;
}
::placeholder {
  color: var(--secondary);
}
.lupa {
  position: absolute;
  width: 2em;
  height: 2em;
  background: var(--sixteenth);
  line-height: 1em;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  transition: .5s;
}
.lupa i {
  font-size: 1em;
  color: var(--tertiary);
  line-height: 2em;
  transition: all .7s ease;
}
.bcontenedor:hover input {
  width: 42%;
}
.bcontenedor:hover i {
  transform: rotate(-360deg);
}
.lupa:hover {
  background: var(--seventeenth);
}
.menu {
  width: 100%;
  margin: 0.2em;
  padding: 0.4em;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  border: 0.1em solid var(--secondary);
  border-radius: 1em;
  background: url(./IMÁGENES/fondo.menu.png) center;
  background-size: cover;
  overflow: hidden;
}
.menu .textmenu {
  font-size: 80%;
  font-family: serif;
  font-weight: bold;
  border: 0.2em solid var(--tertiary);
  padding: 0.5em;
  border-radius: 23%;
  background-color: var(--quaternary);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
font.fuentes:hover {
  color: var(--quaternary);
  background-color: var(--eighteenth);
  border: 0.1em solid var(--quaternary);
  border-radius: 1em;
  padding: 0.4em;
  display: inline-block
}
.nav {
  width: 100%;
  margin: 0.1em;
  padding: 0.1em;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.nav li {
  width: 100%;
  margin: 0.1em;
  padding: 0.6em;
  list-style: none;
  font-size: 90%;
  font-style: oblique;
  color: var(--quinary);
  position: relative;
  display: none;
}
.nav li a {
  text-decoration: none;
  color: var(--quinary);
}
.nav li ul {
  display: none;
  width: 100%;
  margin: 0.1em;
  padding: 0.2em;
}
.nav li:hover ul {
  display: block;
}
.menu:hover .nav li {
  display: block;
}
.productos li, .areas li, .sobrenosotros li, .faqs li, .contacto li, .landing li {
  margin: 0.1em;
  padding: 0.6em 0.6em 0.6em 1.2em;
  color: var(--tertiary)
}
.productos li ul {
  margin: 0.1em;
  padding: 0.6em 0.6em 0.6em 1.2em;
}
.menu .nav .productos li ul li {
  display: none;
  padding: 0.8em;
}
.menu .nav .productos li:hover ul li {
  display: block;
}
.actifemme li a {
  color: var(--sextary);
  display: flex;
}
.actifemme li a:hover {
  background-color: var(--septenary);
  align-items: center;
  display: inline-flex;
  padding: 0.3em;
}
.vitaplus li a {
  color: var(--octonary);
  display: flex;
}
.vitaplus li a:hover {
  background-color: var(--nineteenth);
  display: inline-flex;
  padding: 0.3em;
  align-items: center;
}
.hidrasal li a {
  color: var(--novenary);
  display: flex;
}
.hidrasal li a:hover {
  background-color: var(--twentieth);
  display: inline-flex;
  padding: 0.3em;
  align-items: center;
}.urocran li a {
  color: var(--decenary);
  display: flex;
}
.urocran li a:hover {
  background-color: var(--twenty-first);
  display: inline-flex;
  padding: 0.3em;
  align-items: center;
}
.menu .nav .fuentes .areas li, .menu .nav .fuentes .sobrenosotros li, .menu .nav .fuentes .faqs li, .menu .nav .fuentes .contacto li, .menu .nav .fuentes .landing li {
  display: none;
  padding: 0.8em;
}
.menu .nav .fuentes .areas:hover li, .menu .nav .fuentes .sobrenosotros:hover li, .menu .nav .fuentes .faqs:hover li, .menu .nav .fuentes .contacto:hover li, .menu .nav .fuentes .landing:hover li {
  display: block;
}
.areas li a, .sobrenosotros li a, .faqs li a, .contacto li a, .landing li a {
  color: var(--tertiary);
  display: flex;
}
.areas li a:hover, .sobrenosotros li a:hover, .faqs li a:hover, .contacto li a:hover, .landing li a:hover {
  background-color: var(--septenary);
  display: inline-flex;
  padding: 0.3em;
  align-items: center;
}
.landing > li > a {
  color: var(--eleventh);
}
.contetransiciones {
  width: 100%;
  margin: 0.1em;
  padding: 0.1em;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border: 0.1em solid var(--secondary);
  border-radius: 1em;
  background-image: url(./IMÁGENES/fondo.transiciones.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.transiciones {
  width: 50%;
  margin: auto;
  overflow: hidden;
}
.transiciones > ul {
  display: flex;
  padding: 0;
  width: 1200%;
  animation: cambio 30s infinite alternate ease-in-out;
}
.transiciones > ul > li {
  list-style: none;
  width: 100%;
}
.transiciones > ul > li > a {
  text-decoration: none;
  color: var(--quinary);
}
.transiciones > ul > li > a > img {
  width: 100%;
}
.transiciones > ul > li > a > p {
  width: 100%;
  margin: 0.1em;
  padding: 0.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.1em solid var(--tertiary);
  border-radius: 1em;
  background-color: var(--twenty-second);
}


@keyframes cambio {
  0% { margin-left: 0%; }
  5% { margin-left: 0%; }

  10% { margin-left: -100%; }
  15% { margin-left: -100%; }

  20% { margin-left: -200%; }
  25% { margin-left: -200%; }

  30% { margin-left: -300%; }
  34% { margin-left: -300%; }

  39% { margin-left: -400%; }
  43% { margin-left: -400%; }

  48% { margin-left: -500%; }
  52% { margin-left: -500%; }

  57% { margin-left: -600%; }
  61% { margin-left: -600%; }

  66% { margin-left: -700%; }
  69% { margin-left: -700%; }

  74% { margin-left: -800%; }
  77% { margin-left: -800%; }

  82% { margin-left: -900%; }
  85% { margin-left: -900%; }

  90% { margin-left: -1000%; }
  93% { margin-left: -1000%; }

  98% { margin-left: -1100%; }
  100% { margin-left: -1100%; }
}
div.baners {
  width: 100%;
  margin: 0.2em;
  padding: 0.4em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.bapro {
  width: 100%;
  border: 0.1em solid var(--secondary);
  border-radius: 1em;
}
.contebaneruno, .contebanerdos, .contebanertres {
  width: 100%;
  margin: 0.2em;
  padding: 0.4em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.baneruno, .banerdos, .banertres {
  position: absolute;
  top: 16%;
  left: 9%;
}
.baneruno a {
  text-decoration: none;
  font-size: 90%;
  color: var(--twelfth);
}
.banerdos a {
  text-decoration: none;
  font-size: 90%;
  color: var(--thirteenth);
}
.banertres a {
  text-decoration: none;
  font-size: 90%;
  color: var(--fourteenth);
}
.conteespecialidades {
  width: 100%;
  margin: 0.1em;
  padding: 0.1em;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border: 0.1em solid var(--secondary);
  border-radius: 1em;
  background-image: url(./IMÁGENES/fondo.especialidades.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-direction: column;
  overflow: hidden;
}
.conteespecialidades h2 {
  width: 100%;
  margin: 0.1em;
  padding: 0.4em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.especialidades {
  width: 100%;
  margin: auto;
  overflow: hidden;
}
.especialidades > ul {
  display: flex;
  padding: 0;
  width: 600%;
  animation: bloquedos 15s infinite alternate ease-in-out;
}
.especialidades > ul > li {
  list-style: none;
  width: 100%;
}
.especialidades > ul > li > a {
  text-decoration: none;
  color: var(--quinary);
}
.especialidades > ul > li > a > img {
  width: 100%;
}
.especialidades > ul > li > a > p {
  width: 96%;
  margin: 0.1em 0.1em 0.1em 0.4em;
  padding: 0.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.1em solid var(--tertiary);
  border-radius: 1em;
  background-color: var(--twenty-second);
}


@keyframes bloquedos {
  0% { margin-left: 0%; }
  12.5% { margin-left: 0%; }

  17.5% { margin-left: -100%; }
  30% { margin-left: -100%; }

  35% { margin-left: -200%; }
  47.5% { margin-left: -200%; }

  52.5% { margin-left: -300%; }
  65% { margin-left: -300%; }

  70% { margin-left: -400%; }
  82.5% { margin-left: -400%; }

  87.5% { margin-left: -500%; }
  100% { margin-left: -500%; }
}
.todoslosproductos {
  width: 100%;
  margin: 1.2em 0.2em 0.2em 0.2em;
  padding: 0.4em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 0.1em solid var(--secondary);
  border-radius: 1em;
  overflow: hidden;
  background-image: url(./IMÁGENES/fondo.areas.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.todoslosproductos h2 {
  width: 100%;
  margin: 0.1em;
  padding: 0.4em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 0.1em solid var(--twenty-sixth);
}
.losproductos {
  width: 100%;
  margin: 0.1em;
  padding: 0.4em;
}
.losproductos ul {
  width: 100%;
  margin: 0.1em;
  padding: 0.4em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(8em, 1fr));
  gap: 2em;
}
.losproductos li{
  width: 100%;
  margin: 0.1em;
  padding: 0.4em;
  list-style: none;
}
.losproductos div {
  width: 100%;
  margin: 0.1em;
  padding: 0.4em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.losproductos p {
  width: 100%;
  margin: 0.2em;
  padding: 0.4em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: math;
}
.losproductos img {
  width: 100%;
  margin: 0.1em;
  padding: 0.1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.losproductos a {
  text-decoration: none;
  color: var(--quinary);
  font-style: italic;
  font-weight: bold;
  width: 100%;
  margin: 0.1em;
  padding: 0.1em;
}
.contesabiasque, .nuestrasmarcas {
  width: 100%;
  margin: 1.2em 0.2em 0.2em 0.2em;
  padding: 0.4em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 0.1em solid var(--secondary);
  border-radius: 1em;
  overflow: hidden;
  background-image: url(./IMÁGENES/fondo.areas.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.contesabiasque h2, .nuestrasmarcas h2 {
  width: 100%;
  margin: 0.1em;
  padding: 0.4em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 0.1em solid var(--twenty-sixth);
}
.contesabiasque section {
  width: 100%;
  margin: 0.1em;
  padding: 0.4em;
}
.sabiasqueenvio, .sabiasqueformulas, .sabiasqueprecios, .sabiasqueatencion {
  width: 100%;
  margin: 2em 0.1em 0.1em 0.1em;
  padding: 0.4em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sabiasqueenvio img, .sabiasqueformulas img, .sabiasqueprecios img, .sabiasqueatencion img {
  width: 40%;
  margin: 0.1em;
  padding: 0.1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sabiasqueenvio p, .sabiasqueformulas p, .sabiasqueprecios p, .sabiasqueatencion p {
  width: 100%;
  margin: 0.2em;
  padding: 0.4em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: math;
}
.sabiasqueenvio ul, .sabiasqueformulas ul, .sabiasqueprecios ul, .sabiasqueatencion ul {
  width: 100%;
  margin: 0.1em;
  padding: 0.1em;
}
.sabiasqueenvio li, .sabiasqueformulas li, .sabiasqueprecios li, .sabiasqueatencion li {
  width: 100%;
  margin: 0.1em;
  padding: 0.1em;
  list-style-position: inside;
  list-style-type: disc;
  font-style: italic;
  color: var(--fifteenth);
}
.nuestrasmarcas section {
  width: 100%;
  margin: 0.1em;
  padding: 0.4em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(9em, 1fr));
  gap: 2em;
  justify-content: center;
  align-items: flex-start;
}
.marcaactifemme, .marcavitaplus, .marcahidrasal, .marcaurocran {
  width: 100%;
  margin: 0.1em;
  padding: 0.4em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.marcaactifemme img, .marcavitaplus img, .marcahidrasal img, .marcaurocran img {
  width: 100%;
  margin: 0.1em;
  padding: 0.1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.conteultimaparte {
  width: 100%;
  margin: 1.2em 0.2em 0.2em 0.2em;
  padding: 0.4em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 0.1em solid var(--secondary);
  border-radius: 1em;
  overflow: hidden;
  background: var(--twenty-third);
}
.conteparacontactar, .conteplazosyenvio, .contesobrelascookies, .contenewsletter {
  width: 100%;
  margin: 0.1em;
  padding: 0.4em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.conteparacontactar h2, .conteplazosyenvio h2, .contesobrelascookies h2, .contenewsletter h2 {
  width: 100%;
  margin: 0.1em;
  padding: 0.4em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.datosdecontacto {
  width: 100%;
  margin: 0.2em;
  padding: 0.4em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 0.1em solid var(--fifteenth);
  display: none;
}
.conteparacontactar:hover .datosdecontacto {
  display: block;
}
.presencialmente {
  width: 100%;
  margin: 0.2em;
  padding: 0.4em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.presencialmente p, .plazosyenvio p, .sobrelascookies p, .newsletter p {
  width: 100%;
  margin: 0.2em;
  padding: 0.4em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: math;
}
.presencialmente ul, .plazosyenvio ul, .sobrelascookies ul, .newcandado ul {
  width: 100%;
  margin: 0.1em;
  padding: 0.1em;
}
.presencialmente li, .plazosyenvio li, .sobrelascookies li, .newcandado li {
  width: 100%;
  margin: 0.1em;
  padding: 0.1em;
  list-style-position: inside;
  list-style-type: disc;
  font-style: italic;
  color: var(--fifteenth);
}
.plazosyenvio, .sobrelascookies, .newsletter {
  width: 100%;
  margin: 0.2em;
  padding: 0.4em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top: 0.1em solid var(--fifteenth);
  display: none;
}
.conteplazosyenvio:hover .plazosyenvio {
  display: block;
}
.contesobrelascookies:hover .sobrelascookies {
  display: block;
}
.contenewsletter:hover .newsletter {
  display: block;
}
.newcorreo, .newcandado {
  width: 100%;
  margin: 0.2em;
  padding: 0.4em;
  overflow: hidden;
}
.newenviar {
  width: 100%;
  margin: 0.2em;
  padding: 0.4em;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
input.newpolitica {
  width: 1em;
  margin: 0.2em 1em 0.2em 0.2em;
  padding: 0.4em;
  height: 20%;
  color: var(--fifteenth);
  border-radius: 0;
  border: 0.1em solid var(--fifteenth);
  transition: none;
  position: relative;
}
input.newmandar {
  width: 60%;
  margin: 0.2em;
  padding: 0.4em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  color: var(--fifteenth);
  border: 0.1em solid var(--fifteenth);
  transition: none;
  position: relative;
}
input.newmandar:hover {
  background: var(--twenty-fourth);
}
.newcorreo label {
  width: 100%;
  margin: 0.2em;
  padding: 0.4em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--fifteenth);
}
.newcorreo > input {
  width: 100%;
  margin: 0.2em;
  padding: 0.4em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  color: var(--fifteenth);
  border-radius: 0;
  border: 0.1em solid var(--fifteenth);
  transition: none;
  position: relative;
}
footer {
  width: 98%;
  margin: 0.2em;
  padding: 0.4em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 0.1em solid var(--twenty-seventh);
}
footer cite {
  width: 100%;
  margin: 0.1em;
  padding: 0.4em;
  display: flex;
  align-items: center;
  font-size: 0.8em;
  font-family: monospace;
  border: 0.2em solid var(--twenty-eighth);
  color: var(--quinary);
  background-color: var(--twenty-fifth);
  flex-direction: column;
  overflow: hidden;
}







@media screen and (min-width: 50px) and (max-width: 255px) {
  .contedos {
    flex-direction: column;
  }
  .bcontenedor {
    padding: 0.5em 0.1em 0.1em 0.1em;
    justify-content: flex-start;
  }
  .isesion {
    padding: 0.1em 0.1em 0.5em 0.1em;
  }
  .bcontenedor:hover input {
    width: 65%;
  }
  input {
    padding: 0em 0em 0em 1.5em;
  }
}






@media screen and (min-width: 50px) and (max-width: 99px) {
  .baneruno, .banerdos, .banertres {
    top: 5%;
    left: 14%;
  }
  .baneruno a, .banerdos a, .banertres a {
    font-size: 40%;
  }
}

@media screen and (min-width: 100px) and (max-width: 130px) {
  .baneruno, .banerdos, .banertres {
    top: 12%;
    left: 12%;
  }
  .baneruno a, .banerdos a, .banertres a {
    font-size: 60%;
  }
}

@media screen and (min-width: 230px) and (max-width: 375px) {
  .baneruno, .banerdos, .banertres {
    top: 40%;
    left: 25%;
  }
}







@media screen and (min-width: 376px) and (max-width: 768px) {
  .conteuno {
    flex-direction: row;
  }
  p {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contedos {
    flex-direction: column;
  }
  .isesion {
    justify-content: flex-end;
    padding-bottom: 0.9em;
  }
  .bcontenedor {
    padding: 2em 0.1em 2em 0.1em;
  }
  button.sesion {
    font-size: 90%;
  }
  input {
    height: 1.4em;
  }
  .bcontenedor:hover input {
    width: 35%;
  }
  strong {
    display: contents;
  }
  .menu .textmenu {
    font-size: 95%;
  }
  .nav li {
    font-size: 95%;
  }
  .nav li a {
    font-size: 95%;
  }
  .transiciones {
    width: 40%;
  }
  .transiciones > ul > li > a > p {
    width: 80%;
    font-size: 105%;
  }
  .contebaneruno {
    background-image: url(./IMÁGENES/fondo.probioticos.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 0.1em solid var(--secondary);
    border-radius: 1em;
  }
  .bapro {
    width: 70%;
  }
  .contebanerdos {
    background-image: url(./IMÁGENES/fondo.descuento.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 0.1em solid var(--secondary);
    border-radius: 1em;
  }
  .contebanertres {
    background-image: url(./IMÁGENES/fondo.cistiti.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 0.1em solid var(--secondary);
    border-radius: 1em;
  }
  .baneruno, .banerdos, .banertres {
    top: 45%;
    left: 34%;
  }
  .especialidades > ul > li > a > p, .losproductos p, .sabiasqueenvio p, .sabiasqueformulas p, .sabiasqueprecios p, .sabiasqueatencion p, .conteultimaparte p {
    font-size: 105%;
  }
  .conteespecialidades h2, .todoslosproductos h2, .contesabiasque h2, .nuestrasmarcas h2 {
    font-size: 120%;
  }
  .losproductos ul {
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  }
  .contesabiasque section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(9em, 1fr));
    gap: 2em;
    justify-content: center;
    align-items: flex-start;
  }
  .sabiasqueenvio img, .sabiasqueformulas img, .sabiasqueprecios img, .sabiasqueatencion img {
    width: 50%;
  }
  .sabiasqueenvio li, .sabiasqueformulas li, .sabiasqueprecios li, .sabiasqueatencion li, .conteultimaparte li, .conteultimaparte label, .newcorreo input {
    font-size: 105%;
  }
  .marcaactifemme img, .marcavitaplus img, .marcahidrasal img, .marcaurocran img {
    width: 110%;
  }
  .conteultimaparte {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(31%, 1fr));
    gap: 2em;
    justify-content: center;
    align-items: flex-start;
  }
  .conteultimaparte h2 {
    font-size: 120%;
    justify-content: flex-start;
  }
  input.newmandar {
    width: 100%;
    font-size: 105%;
  }
  footer {
    flex-direction: row;
  }
  footer cite {
    flex-direction: row;
    font-size: 1em;
  }
}






@media screen and (min-width: 769px) {
.conteuno {
  flex-direction: row;
}
p {
  font-size: 110%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contedos {
  flex-direction: column;
}
.isesion {
  justify-content: flex-end;
  padding-bottom: 0.9em;
}
.bcontenedor {
  padding: 2em 0.1em 2em 0.1em;
}
.lupa {
  width: 3em;
  height: 3em;
  background: var(--sixteenth);
  line-height: 3em;
}
button.sesion {
  font-size: 110%;
  height: 1.8em;
}
input {
  height: 1.8em;
}
.bcontenedor:hover input {
  width: 35%;
}
strong {
  display: contents;
}
.menu {
  align-items: center;
}
.menu .textmenu {
  display: none;
}
.nav {
  align-items: flex-start;
  flex-direction: row;
}
.menu .nav li {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav li a {
  font-size: 95%;
}
.contacto > li > a {
  color: var(--eleventh);
}
.transiciones {
  width: 30%;
}
.transiciones > ul > li > a > p {
  width: 80%;
  font-size: 110%;
}
div.baners {
  flex-direction: row;
}
.baneruno, .banerdos, .banertres {
  top: 45%;
  left: 24%;
}
.baneruno a, .banerdos a, .banertres a {
  font-size: 105%;
}
.especialidades {
  width: 60%;
}
.especialidades > ul > li > a > p {
  font-size: 115%;
  margin-left: 0.5em;
}
.conteespecialidades h2, .todoslosproductos h2, .contesabiasque h2, .nuestrasmarcas h2 {
  font-size: 140%;
}
.losproductos ul {
  grid-template-columns: repeat(auto-fill, minmax(19em, 1fr));
}
.losproductos p, .sabiasqueenvio p, .sabiasqueformulas p, .sabiasqueprecios p, .sabiasqueatencion p, .conteultimaparte p {
  font-size: 115%;
}
.contesabiasque section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(22%, 1fr));
  gap: 2em;
  justify-content: center;
  align-items: flex-start;
}
.sabiasqueenvio img, .sabiasqueformulas img, .sabiasqueprecios img, .sabiasqueatencion img {
  width: 60%;
}
.sabiasqueenvio li, .sabiasqueformulas li, .sabiasqueprecios li, .sabiasqueatencion li, .conteultimaparte li, .conteultimaparte label, .newcorreo input {
  font-size: 110%;
}
.marcaactifemme img, .marcavitaplus img, .marcahidrasal img, .marcaurocran img {
  width: 110%;
}
.nuestrasmarcas section {
  grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
}
.conteultimaparte {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(22%, 1fr));
  gap: 2em;
  justify-content: center;
  align-items: flex-start;
}
.conteultimaparte h2 {
  font-size: 140%;
  justify-content: flex-start;
}
input.newmandar {
  width: 100%;
  font-size: 110%;
}
footer {
  flex-direction: row;
}
footer cite {
  flex-direction: row;
  font-size: 1.2em;
}
} 